{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "bracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "quoteProps": "preserve",
    "arrowParens": "avoid",
    "proseWrap": "never",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
